{% extends "base.html" %}

{% block title %} Operation success! {% endblock title %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card mt-5 bg-success bg-opacity-75 border border-2 border-dark shadow rounded">
        <div class="card-body">
          <h1 class="text-center mb-4">Thank You!</h1>
          <p class="text-center">Your message has been sent successfully.</p>
          <p class="text-center">The user has been notified and will get bak to you as soon as possible.</p>
          <div class="text-center">
            <a href="{% url 'home' %}" class="btn btn-dark">Back to Home</a>
            <a href="{% url 'property_list' %}" class="btn btn-dark">Back to Listings</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
