{% extends "base.html" %}
{% load custom_filters %}

{% block title %}User Details{% endblock %}

{% block content %}
<section class="container text-center bg-success bg-opacity-75 border border-2 border-dark">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <h1 class="display-3 mb-3"><strong>User Details</strong></h1>
            {% if customuser.profile_picture %}
            <img src="{{ customuser.profile_picture.url }}" class="img-fluid rounded-circle mb-5 border border-3 border-dark"
                 style="width: 200px; height: 200px;">
            {% else %}
            <img src="https://placehold.co/200x200" class="img-fluid rounded-circle mb-5 border border-3 border-dark"
                 width="200" height="200">
            {% endif %}
            <div class="h3 d-flex justify-content-between mt-3 pt-3 pb-2 border-top border-3 border-dark">
                <strong>Username:</strong>
                <span>{{ customuser.username }}</span>
            </div>
            <div class="h3 d-flex justify-content-between pt-3 pb-2 border-top border-3 border-dark">
                <strong>e-Mail:</strong>
                <span>{{ customuser.email }}</span>
            </div>
            <div class="h4 d-flex justify-content-between pt-3 pb-2 border-top border-3 border-dark">
                <strong>Date joined:</strong>
                <span>{{ customuser.date_joined }}</span>
            </div>

            {% if user.is_authenticated and user == customuser %}
            <p class="h5 pt-2 pb-2 border-top border-3 border-dark">
                <a href="{% url 'profile_edit' user.pk %}" class="text-dark">
                    Edit Your Profile
                </a>
            </p>
            {% elif user.is_authenticated %}
            <p class="h5 pt-2 pb-2 border-top border-3 border-dark">
                <a href="{% url 'contact_profile' customuser.pk %}" class="text-dark">
                    Send a message to {{ customuser.username }}
                </a>
            </p>
            {% endif %}
        </div>
    </div>
</section>
<div class="container mt-2 pt-1 mb-4 pb-2 col-md-8">
    <h2 class="h2 text-center mt-5 mb-3 pb-1 border-bottom border-2 border-dark"><strong>Some of this user's
        listings</strong></h2>
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            {% for listing in user_listings %}
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter0 }}"
                    class="{% if forloop.first %}active {% endif %} bg-secondary" aria-label="Slide {{ forloop.counter }}"></button>
            {% empty %}

            {% endfor %}
        </div>

        <div class="carousel-inner">
            {% for listing in user_listings %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <div class="card pb-3">
                    <img src="{{ listing.image.url }}" class="card-img-top" alt="Listing Image"
                         style="max-height: 400px; max-width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title"><a class="text-dark" href="{% url 'property_detail' listing.pk %}">
                            {{ listing.title }}</a></h5>
                        <p class="card-text">{{ listing.description|cut_after_chars:50 }}</p>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="row justify-content-center">
                <div class="card col-md-9 mb-2 bg-success bg-opacity-75 border border-1 border-dark shadow">
                    <div class="card-body text-dark">
                        <h2 class="card-title text-center border-bottom border-1 border-dark pb-2">No listings found ...</h2>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
        <button class="carousel-control-prev btn btn-dark" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next btn btn-dark" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
{% endblock content %}