{% extends "base.html" %}
{% load custom_filters %}

{% block title %}Listings{% endblock title %}
{% block content %}

<div class="sorting-section">
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <p>Sorted by: <strong>{{ request.GET.sort }}</strong></p>
    </div>
    <div class="d-flex align-items-center">
      <h5 class="me-3">Sort by:</h5>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="sortingDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Select an option
        </button>
        <div class="dropdown-menu" aria-labelledby="sortingDropdown">
          <a class="dropdown-item" href="?sort=title">Title</a>
          <a class="dropdown-item" href="?sort=price">Price</a>
          <a class="dropdown-item" href="?sort=location">Location</a>
          <!-- Add more sorting options as needed -->
        </div>
      </div>
    </div>
  </div>
</div>


{% for listing in listing_list %}
<div class="row border-top border-bottom border-success py-3 bg-dark mb-2">
    <div class="col-md-3">
        {% if listing.image %}
        <img src="{{ listing.image.url }}" class="img-fluid" alt="Listing Image">
        {% else %}
        <img src="https://placehold.co/600x400" class="img-fluid" alt="Listing Image">
        {% endif %}
    </div>
    <div class="col-md-9">
        <h2 class="font-weight-bold"><a href="{{ listing.get_absolute_url }}" class="text-decoration-none">{{ listing.title }}</a></h2>
        <h3 class="text-secondary">Price: {{ listing.price }}€</h3>
        <h3 class="text-secondary">Location: {{ listing.listing_location }}</h3>
        <p class="text-light">{{ listing.description|cut_after_chars:400 }}</p>
        <p class="h5 text-secondary">Seller: {{ listing.owner }}</p>
    </div>
</div>
{% endfor %}
{% endblock content %}
