{% extends "base.html" %}
{% load custom_filters %}

{% block title %}Listings{% endblock title %}
{% block content %}
<!--TODO add reset filters button (may add a link to the default listing page)-->
<!--TODO add filter badges to show selected filters-->
<!--TODO add pagination-->
<!--TODO change featured cards to resemble those in the bootstrap example-->
<!--FIXME filtering by date does not work, may be error in the queryset filter in the view-->
<form action="{% url 'property_list' %}" method="get">
    <div class="row">
        <div class="col">
            <button class="btn btn-dark mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#filterSection"
                    aria-expanded="false" aria-controls="filterSection">
                Show Filters
            </button>
        </div>
        <div class="col col-md-4">
<!--            TODO change the arrow colour-->
            <select class="form-select bg-dark text-light border-0"  id="filter_sort" name="sort" onchange="this.form.submit()">
                <option value="" disabled selected>Sort by</option>
                <option value="1">Price (low to high)</option>
                <option value="2">Price (high to low)</option>
                <option value="3">Date Posted (newest first)</option>
                <option value="4">Date Posted (oldest first)</option>
                <option value="5">Square metres (low to high)</option>
                <option value="6">Square metres (high to low)</option>
            </select>
        </div>
    </div>
    <div class="collapse" id="filterSection">
        <div class="card card-body mb-3 bg-success bg-opacity-75 border border-1 border-dark">
            <!--            Prima riga-->
            <div class="row">
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="filter_price" class="form-label"><strong>Max Price</strong></label>
                        <div class="input-group mb-3">
                            <span class="input-group-text">$</span>
                            <input type="number" class="form-control" id="filter_price" name="max_price"
                                   value="{{ request.GET.max_price }}">
                            <span class="input-group-text">.00</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="filter_category" class="form-label"><strong>Category</strong></label>
                    <select class="form-select" id="filter_category" name="category">
                        <option value="">All</option>
                        {% for category in categories %}
                        <option value="{{ category.pk }}" {% if category.pk == request.GET.category|default_if_none:"0"|add:0 %}selected="selected"{% endif %}>
                        {{ category.name }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
<!--                        TODO fix this to handle the location correctly-->
                        <label for="filter_location" class="form-label"><strong>Location</strong></label>
                        <input type="text" class="form-control" id="filter_location" name="location"
                               value="{{ request.GET.location }}">
                    </div>
                </div>
            </div>
            <!--            Seconda riga-->
            <div class="row">
                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="filter_list_date" class="form-label"><strong>List Date</strong></label>
                        <input type="date" class="form-control" id="filter_list_date" name="date_posted"
                               value="{{ request.GET.date_posted }}">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="filter_square_metres" class="form-label"><strong>Min Square Metres</strong></label>
                        <div class="input-group mb-3">
                            <input type="number" class="form-control" id="filter_square_metres" name="min_sqm"
                                   value="{{ request.GET.min_sqm }}">
                            <span class="input-group-text"> m²</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="filter_bedrooms" class="form-label"><strong>Min Bedrooms</strong></label>
                        <input type="number" class="form-control" id="filter_bedrooms" name="n_bdrm"
                               value="{{ request.GET.n_bdrm }}">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="mb-3">
                        <label for="filter_bathrooms" class="form-label"><strong>Min Bathrooms</strong></label>
                        <input type="number" class="form-control" id="filter_bathrooms" name="n_bthrm"
                               value="{{ request.GET.n_bthrm }}">
                    </div>
                </div>
            </div>
            <div class="row mt-1 justify-content-center">
                <button class="btn btn-dark col-md-6" type="submit">Update</button>
            </div>
        </div>
    </div>
</form>


<div class="row text-end">
    <h5><strong>Sorted by</strong>: {{ sort_name }}</h5>
</div>
{% for listing in listing_list %}
<div class="card mb-2 bg-success bg-opacity-75 border border-1 border-dark shadow">
    <div class="row no-gutters">
        <div class="col-md-4" style="border-right: 2px solid black;">
            {% if listing.image %}
            <img src="{{ listing.image.url }}" class="card-img" alt="Listing Image">
            {% else %}
            <img src="https://placehold.co/600x400" class="card-img" alt="Listing Image">
            {% endif %}
        </div>
        <div class="col-md-8">
            <div class="card-body text-dark">
                <h2 class="card-title text-center border-bottom border-1 border-dark pb-2"><a
                        href="{{ listing.get_absolute_url }}" class="text-dark"><strong>{{ listing.title }}</strong></a>
                    &nbsp;({{ listing.category }})
                </h2>
                <h3 class="card-text"><strong>Price</strong>: {{ listing.price }}€</h3>
                <h3 class="card-text mb-2"><strong>Location</strong>: {{ listing.listing_location }}</h3>
                <p class="card-text"><strong>Square metres</strong>: {{ listing.square_metres }} m²,
                    <strong>Bedrooms</strong>: {{ listing.bedrooms }}, <strong>Bathrooms</strong>:
                    {{ listing.bathrooms }}</p>
                <p class="card-text mt-4">{{ listing.description|cut_after_chars:400 }}</p>
                <p class="card-text h5"><strong>Seller</strong>: {{ listing.owner }}</p>
                <p class="card-text mt-1"><small>listed: {{ listing.list_date|timesince }} ago</small></p>
            </div>
        </div>
    </div>
</div>
{% empty %}
<div class="card mb-2 bg-success bg-opacity-75 border border-1 border-dark shadow">
    <div class="card-body text-dark">
        <h2 class="card-title text-center border-bottom border-1 border-dark pb-2">No listings found that satisfy those
            filters...</h2>
    </div>
</div>
{% endfor %}
{% endblock content %}
